{% extends "base.html" %}

{% block title %}블로그{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <!-- 블로그 탭 1 -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <a href="https://blog.naver.com/jiobi_" target="_blank" class="card-img-placeholder">네이버 블로그로 이동</a>
                <div class="card-body">
                    <h5 class="card-title text-center">네이버 블로그</h5>
                </div>
            </div>
        </div>
        <!-- 블로그 탭 2 -->
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <a href="https://blog.jiobi.kr/" target="_blank" class="card-img-placeholder">티스토리로 이동</a>
                <div class="card-body">
                    <h5 class="card-title text-center">티스토리</h5>
                </div>
            </div>
        </div>
        <!-- 블로그 탭 3 -->
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <div class="card-img-placeholder" onclick="showComingSoon()">준비중입니다</div>
                <div class="card-body">
                    <h5 class="card-title text-center">블로그 3</h5>
                </div>
            </div>
        </div>
        <!-- 블로그 탭 4 -->
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <div class="card-img-placeholder" onclick="showComingSoon()">준비중입니다</div>
                <div class="card-body">
                    <h5 class="card-title text-center">블로그 4</h5>
                </div>
            </div>
        </div>
        <!-- 블로그 탭 5 -->
        <div class="col-md-2">
            <div class="card mb-4 shadow-sm">
                <div class="card-img-placeholder" onclick="showComingSoon()">준비중입니다</div>
                <div class="card-body">
                    <h5 class="card-title text-center">블로그 5</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    function showComingSoon() {
        alert('준비중입니다. 기대해주세요!');
    }
</script>
{% endblock %}
