{% extends "base.html" %}

{% block title %}온라인 계산기 - 간편한 계산{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/calculator.css' %}">
{% endblock %}

{% block extra_head %}
<!-- Big.js 라이브러리 불러오기 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/big.js/6.1.1/big.min.js"></script>

<meta name="description" content="온라인 계산기로 간편하게 다양한 수학 계산을 해보세요. 기본 계산기부터 고급 기능까지 지원합니다.">
<meta name="keywords" content="온라인 계산기, 계산기, 수학 계산, 기본 계산기, 고급 계산기, 계산기 앱">
{% endblock %}

{% block content %}
<!-- 계산기 콘텐츠 시작 -->
<div class="calculator">
    <div class="output">
        <input type="text" id="output-screen" readonly>
    </div>
    <div class="buttons">
        <button class="button clear">C</button>
        <button class="button plus">/</button>
        <button class="button percent">%</button>
        <button class="button plus">←</button>
        <button class="button seven">7</button>
        <button class="button eight">8</button>
        <button class="button nine">9</button>
        <button class="button plus">+</button>
        <button class="button four">4</button>
        <button class="button five">5</button>
        <button class="button six">6</button>
        <button class="button multiply">*</button>
        <button class="button one">1</button>
        <button class="button two">2</button>
        <button class="button three">3</button>
        <button class="button minus">-</button>
        <button class="button zero">0</button>
        <button class="button dot">.</button>
        <button class="button equals">=</button>
        <button class="button plus">+</button>
        <button class="button parenthesis-open">(</button>
        <button class="button parenthesis-close">)</button>
    </div>
    <div class="advanced-buttons">
        <!--<button class="advanced-button" onclick="toggleAdvancedMode()">공학용</button>-->
        <button class="advanced-button" id="historyButton">기록</button>
    </div>
</div>
<!-- 계산기 콘텐츠 끝 -->

<!-- 모달 -->
<div id="historyModal" class="modal">
    <div class="modal-content">
        <span id="closeModalButton" class="close">&times;</span>
        <p id="historyContent"></p>
    </div>
</div>


<script src="static/JS/calculator.js"></script>
{% endblock %}

