{% extends "base.html" %}

{% block title %}게임{% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">기억력 게임</h5>
                    <p class="card-text">단어를 기억하고 입력하세요</p>
                    <!-- 버튼을 클릭하면 memorytest_app의 index 뷰로 이동 -->
                    <a href="{% url 'index' %}" class="btn btn-primary">게임 하러가기</a>
                    <!-- <button class="btn btn-primary">게임 하러가기</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">반응 게임</h5>
                    <p class="card-text">움직이는 도형들을 클릭하세요. </p>
                    <!-- 버튼을 클릭하면 memorytest_app의 index 뷰로 이동 -->
                    <a href="{% url 'start' %}" class="btn btn-primary">게임 하러가기</a>
                    <!-- <button class="btn btn-secondary" onclick="alert('준비중입니다. 기대해주세요!')">준비중</button> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
