body {
    font-family: 'Dovemayo_gothic', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 5px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-link {
    color: #333;
    font-size: 1.25rem;
}

.nav-link.active {
    color: #007bff;
}

/* 공통 스타일 */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 2rem;
}

/* 시계 스타일 */
#clock {
    font-size: 4rem;
}

/* 알람 스타일 */
#alarmForm .form-control {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

#alarmMessageDisplay {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#alarmsList {
    margin-top: 2rem;
}

/* 스톱워치 스타일 */
#stopwatch {
    font-size: 4rem;
}

#milliseconds {
    font-size: 2rem;
    margin-left: -10px;
}

#startStopButton, #resetButton, #lapButton {
    font-size: 1.5rem;
    margin-right: 20px;
}

#lapList {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
}

.list-group-item {
    font-size: 1.25rem;
}

/* 타이머 스타일 */
#timer {
    font-size: 3rem;
}

#addTimerButton {
    font-size: 1.5rem;
}

.modal-content {
    padding: 2rem;
    font-size: 1.25rem;
}
