/*sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* 네비게이션 바가 콘텐츠 위에 표시되도록 함 */
    padding: 5px 0 0; /* 상단 공간 확보 */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* 뷰포트 상단에 고정 */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* 필요시 내부 스크롤 활성화 */
}

.nav-link {
    color: #333;
}

.nav-link.active {
    color: #007bff;
}

/* index.html */
body {
font-family: Arial, sans-serif;
text-align: center;
}

h1 {
color: #333;
}

#weather-info {
margin-top: 20px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}






/* exchange_rate.html */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: #fff;
}


.img{
    width: 150px;
    height: 150px;
}

.ercword{
    color: #5fbaa7;
}

.currency{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.currency input{
    text-align: right;
    padding: 1px 2px;
    border: none;
    font-size: 30px;
}

.selectcurrency{
    padding: 10px 20px 10px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #777;
    background: transparent;

}

.swap-rate-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
  }



.btn{
    background-color: #5fbaa7;
    color: #fff;
    padding: 5px 12px;
    border-radius: 10px;
}




